
header{
}

.header_infor {
    display: flex;
    justify-content: space-between;
    height: 64px;
}

.header_infor_item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_infor_service{
    z-index: 4;
    width: 58%;
}

.header_infor_hotline {
    text-decoration: none;
    color: #feffff;
}
.header_infor_list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header_infor_list_item {
    display: flex;
    justify-content: center;
    align-items: center;
}


.header_infor_list_item:hover .header_infor_list_link{
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
}
.header_infor_list_link {
    text-decoration: none;
    color:white;
    font-size: 14px;
}
.link_homepage{
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
}
@keyframes colorShift {
    0% {
      background-position: 0% 0; /* Bắt đầu từ vị trí bên trái */
    }
    100% {
      background-position: 100% 0; /* Kết thúc tại vị trí bên phải */
    }
  }
.header_infor_account{
    width: 15%;
    justify-content: flex-end;
}
.btnlogin {
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    border: none;
    border-radius: 4px;
    height: 32px;
    width: 50%;
    transition: .5s;
    text-decoration: none;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    box-shadow: 1.5px 4px 10px rgba(208, 0, 247, 0.7);
}
.btnlogin:hover{
    opacity: 0.6;
    box-shadow: none;
    transform: translateY(5px);
}



/*code header tool */
.header_tools {
    margin-top:16px;
    display: flex;
    justify-content: space-between;
    height: 100px;
}
#btn_showmore_info{
    display: none;
}

.header_logo {
    height: 200px;
    width: 18%;
    position: relative;
    display: flex;
    align-items: center;
}
.header_logo_img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: -35%;
    left:-15%;
    object-fit: contain;
}
.header_search {
    z-index: 3;
    width: 60%;
    margin-left: -3%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}


.header_search_bar {
    border-radius: 5px;
    border: none;
    height: 100%;
    width: 100%;
    color: grey;
    padding-left: 10px;
    z-index: 3;
}
.header_search_btn {
    text-decoration: none;
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 60px;
    position: absolute;
    right: 0.2%;
    border-radius: 4px;
    z-index: 3;
}
.header_search_btn:hover {
    opacity: 0.6;
    transition: 0.6s;
}
.header_search_hot {
    margin-top: 10px;
    padding-left: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.header_search_hot_items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.111111%;
}
.header_search_hot_items:hover {
    opacity: 0.6;
    transition: 0.6s;
}
.header_search_hot_links {
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
    white-space: nowrap; /* Ngăn chữ xuống dòng */
    overflow: hidden; /* Ẩn phần dư thừa của nội dung */
    text-overflow: ellipsis; /* Hiển thị dấu ... khi nội dung bị cắt ngắn */
}

.header_cart {
    margin-top: 3px;
    margin-right: 3%;
    width:12%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 3;

}
.header_cart:hover{
    cursor: pointer; 
}
.header_cart::before{
    text-align: center;
    line-height: 14px;
    content: "3";
    background-color: white;
    border-radius: 40%;
    width: 26px;
    height: 16px;
    position: absolute;
    border: #1c1f24 solid 1px;
    top: -6%;
    font-size: 14px;
    font-weight: 500;
    z-index: 2;
}
.icon_cart{
    position: absolute;
    z-index: 1;
    right: 9%;
}



/*Code hiệu ứng */
/*code hiện thanh tìm kiếm */
.header_search_bar:focus ~ .header__Search-history{
    display: block;
}
.header__Search-history {
    z-index: 3;
    position: absolute;
    top: 42px;
    left: 0;
    display: none;
    width: 91%;
    background-color: #feffff;
    box-shadow: 0 1px 5px rgb(172, 172, 172);
    overflow: hidden;
    border-radius: 2px;
}
.header__Search-history-heading {
    background: linear-gradient(45deg, #ff00cc, #3333ff);
    background-clip: text;
    -webkit-background-clip: text; /* Cho trình duyệt Safari cũ */
    color: transparent; /* Để chữ trở thành màu trong suốt */
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 9px;
}
.header__Search-history-list {
    list-style: none;
    padding-left: 0;
}
.header__Search-history-item {
    padding: 4px 0;
}
.header__Search-history-item:hover {
    background-color: aliceblue;
}
.header__Search-history_link{
    margin-left: 10px;
    display: block;
    text-decoration: none;
    color: gray;
    font-size: 12px;
    margin-bottom: 8px;
    white-space: nowrap; /* Ngăn chữ xuống dòng */
    overflow: hidden; /* Ẩn phần dư thừa của nội dung */
    text-overflow: ellipsis; /* Hiển thị dấu ... khi nội dung bị cắt ngắn */
}


/*code thông báo*/
.header_infor_notify{
    position: relative;
    z-index: 2;
}
.header_infor_notify:hover .header__notify{
    opacity: 1;
    display: block;
}
.header__notify {
    position: absolute;
    top: 45px;
    box-shadow: 0 1px 5px rgb(172, 172, 172);
    display: none;
    width: 404px;
    z-index: 2;
    right: 0;
    border-radius: 3px;
    opacity: 1;
    cursor: default;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    padding-bottom: 8px;
    background-color: whitesmoke;
    
}
@keyframes headerNotifyGrowth{
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.header__notify::before{
    content: "";
    border-width: 20px 27px ;
    border-style: solid;
    border-color: transparent transparent  whitesmoke transparent ;
    position: absolute;
    top: -35px;
    right: 4px;
    z-index: -1;
}

.header__notify::after{
   content: "";
   display: block;
   position: absolute;
   width: 90px;
   height: 20px; ;
   right: 0;
   top: -16px; 
}
.header__notify-header {
    height: 40px ;
    padding-top: 6px;
    padding-left:  10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.header__notify-header h3{
    color: gray;
    font-weight: 400;
    font-size: 16px;
}
.header__notify-list {
    list-style: none;
    padding-left:  0px;
    padding-right: 0px;

}

.header__notify-item {
    height: 72px;
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 20px;
    
}
.header__notify-item:hover{
    background: linear-gradient(to left top, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
    transition: 0.2s;
}

.header__notify-link {
    margin-left: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
}
.header__notify-img {
    width: 48px ;
    object-fit: contain;
}
.header__notify-info {
    margin-left: 10px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; /* Hiển thị dấu ... khi nội dung bị cắt ngắn */
    white-space: nowrap; /* Ngăn chữ xuống dòng */
}
.header__notify-name {
    color: black;
    font-weight: 400;

}
.header__notify-descrition {
    color: gray;
    font-weight: 300;
    font-size: 14px;
    
}
.header__notify-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.header__notify-footer-btn {
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}


/*Coderheader_cart notify*/
.header_cart:hover .header_cart_notify{
    display: flex ;
}
.header_cart_notify {
    z-index: 3;
    position: absolute;
    background-color: whitesmoke;
    top:54px;
    width: 450px;
    height: 400px;
    display: none;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgb(172, 172, 172);
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
}
.header_cart_notify::before{
    content: "";
    border-width: 20px 27px ;
    border-style: solid;
    border-color: transparent transparent  whitesmoke transparent ;
    position: absolute;
    top: -35px;
    right: 4px;
    z-index: -1;
}
.header_cart_notify::after{
   content: "";
   display: block;
   position: absolute;
   width: 90px;
   height: 20px; ;
   right: 0;
   top: -16px; 
}
.header_cart_notify_title {
    height: 10%;
    color: gray;
    font-size: 15px;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    display: block;
}
.header_cart_notify_list {
    list-style: none;
    padding: 0 ;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.header_cart_notify_item {
    height:25%;
    height: 100%;
    display: flex;
    align-items: center;

}
.header_cart_notify_item:hover {
    background: linear-gradient(to left top, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
}
.header_cart_notify_link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
    padding:0 10px;
}
.header_cart_img_product {
    object-fit: contain;
    width: 15%;
}
.header_cart_name_product {
    width: 60%;
    font-size: 14px;
    font-weight: 500;
    color: #1c1f24;
    white-space: nowrap; /* Ngăn chữ xuống dòng */
    overflow: hidden; /* Ẩn phần dư thừa của nội dung */
    text-overflow: ellipsis; /* Hiển thị dấu ... khi nội dung bị cắt ngắn */
    
}
.header_cart_cost_product {
    width: 18%;
    font-weight: 400;
    font-size: 13px;
    background: linear-gradient(45deg, #ff00cc, #3333ff);
    background-clip: text;
    -webkit-background-clip: text; /* Cho trình duyệt Safari cũ */
    color: transparent;
}
.header_cart_notify_showmore {
    height:  13%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
}
.header_cart_notify_quality {
    color:#1c1f24;
    font-weight: 400;
    font-size: 14px;
}
.header_cart_notify_view_showmore {
    width: 45%;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    padding: 10px 0;
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
}
.header_cart_notify_view_showmore:hover {
    opacity: 0.7;
    transition: 0.4s;
}
.btn_showmore_link{
    text-decoration: none;
    color: white;
}












